@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    background-color: hsl(0, 0%, 81%);
}

main {
    margin: 8vh 0;
    display: grid;
    grid-template-columns: 1fr;
}

h1, h3, p {
    margin: 0;
}

h1 {
    font-size: 1.35rem;
}
.commentCard {
    display: flex;
    flex-direction: column;
    margin: 5vw;
    padding: 5vh 8vw;
    border-radius: 2vh;
    gap: 3vh;
}

.commentCard > p {
    color: hsla(0, 0%, 81%, 0.70);
}

.writerInfo {
    display: flex;
    flex-direction: row;
}

#primaryCard {
    position: relative;
    z-index: 10;
    background-color: hsl(263, 55%, 52%);
    color: hsl(0, 0%, 100%);
}

#quotation {
    position: absolute;
    z-index: -10;
    top: 0;
    right: 8vw;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

#Color-Palette {
    /* Primary */
    /* Moderate violet */
    color: hsl(263, 55%, 52%);
    
    /* Very dark grayish blue */
    color: hsl(217, 19%, 35%);
    
    /* Very dark blackish blue */
    color: hsl(219, 29%, 14%);
    
    /* Whit */
    color: hsl(0, 0%, 100%);
    
    /* Neutral */
    
    /* Light gray */
    color: hsl(0, 0%, 81%);
    
    /* Light grayish blue */
    color: hsl(210, 46%, 95%);
}

